@import "constants";


@import url('https://fonts.googleapis.com/css?family=Tillana&display=swap');

body {
  background: aliceblue;
  text-align: center;
}

#app {
  background: white;
  box-shadow: 0 10px 14px 4px transparentize($black, 0.5);
  font-family: 'Tillana', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue;
  margin: 0 auto;
  min-height: 70vh;
  padding: 2em;
  text-align: left;
  width: 600px;
}

#nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

a {
  color: $blue;
  text-decoration: none;
}

h1 {
  text-align: center;
}

ul {
  li {
    list-style: circle;
  }
}

@import "input";
@import "form";
